<!doctype html>
<html lang="<%= FastGettext.locale %>">
    <head>
        <%== partial('layouts/head')%>
        <% assets_paths([:css,:default]).each do |s| %><link rel="preload" href="<%== s %>" as="style"><% end %>
        <%== assets([:css,:default])%>
        <% assets_paths([:js,:default]).each do |j| %>
            <link rel="preload" href="<%== j %>" as="script">
        <% end %>

    </head>
    <body class="">
        <div style="width: 600px; margin: 5em auto 5em auto; ">
            <h1>Demo site (DEFAULT LAYOUT)</h1>
            <div>
                <%== partial "layouts/nav" %>
            </div>
            <hr>
            <h2><%== @page_title %></h2>
            <div>
                <%== yield%>
            </div>

        </div>
        <%== assets([:js,:default])%>
    </body>
</html>
